<div class="container" id="customTable">
  <div class="row">
    <div class="row ms-1">
      <div class="col d-flex align-items-center">
        <h5 class="m-0">Qualifikationen-Liste</h5>
      </div>
      <div class="col">
        <p style="text-align: right" class="align-self-center m-2 me-4">
          <!--<span class="material-icons text-success cursor-pointer me-1" [routerLink]="['/qualification/editor']"
            >add</span
          >-->
          <span class="material-icons cursor-pointer me-1" (click)="searchForString()" style="color: #588A87">search</span>
          <span class="material-icons cursor-pointer" (click)="fetchData()" style="color: #588A87">
            <ng-container *ngIf="isSearchModeEnabled(); else reload">backspace</ng-container>
            <ng-template #reload>refresh</ng-template>
          </span>
        </p>
      </div>
    </div>
    <div class="row m-auto">
      <form (submit)="searchForString()">
        <input
          class="form-control form"
          placeholder="Suche..."
          [(ngModel)]="searchValue"
          [ngModelOptions]="{ standalone: true }"
        />
      </form>
    </div>
  </div>
  <div class="row m-auto mt-3" style="max-height: 600px;overflow: auto;">
    <table class="table">
      <thead>
        <th>Name</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let q of qualifications$ | async">
          <tr
            class="tr-hover"
            [class.tr-active]="isQualificationContainedInSelection(q)"
            (click)="goToQualification(q.skill)"
          >
            <td style="background-color: #F2F2F2">{{ q.skill }}</td>
            <td class="user-select-none" style="width: 20px; background-color: #F2F2F2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#588A87" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
              </svg>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div *ngIf="isAnythingSelected()" class="cursor-pointer expand">
      <app-confirmable-delete
        [alignButtonRight]="'true'"
        (deleteEmit)="deleteQualificationSelection()"
        [message]="getDeleteConfirmationMessage()"
        [failed]="failed"
        [failedMessage]="failedMessage"
        (resetErrorEmit)="resetDeletionError()"
      ></app-confirmable-delete>
    </div>
    <div *ngIf="(qualifications$ | async)?.length === 0">
      <p>Es wurden keine Qualifikationen gefunden.</p>
    </div>
  </div>
</div>


<div class="text-center" style="margin: 25px;">
  <button class="btn add-btn" [routerLink]="['/qualification/editor']">
    <span class="material-icons cursor-pointer">add</span>
  </button>
</div>

<!--(click)="selectQualification(q)"-->
