#customTable {
  border-style: none;
  border-color: #cdd;
  border-radius: 20px;
  background-color: #F2F2F2;
  padding: 10px;
  max-width: 500px;
}

.add-btn {
  width: 70px;
  height: 30px;
  border-radius: 30px;
  background-color: #588A87;
  color: white;
  align-items: center;
  padding-bottom: 30px;
}

tr:hover {
  background-color: #7DA4A1;
}
