<div class="container d-flex justify-content-center flex-column">
  <div id="customTable" class="py-3 px-4 gap-4">
    <div class="row">
      <div class="row">
        <div class="col d-flex align-items-center">
          <h5 class="m-0">Mitarbeiter-Liste</h5>
        </div>
        <div class="col" style="background-color: #F2F2F2">
          <p style="text-align: right" class="align-self-center m-2 me-4">
            <span class="material-icons cursor-pointer me-1" (click)="searchForString()" style="color: #588A87">search</span>
            <span class="material-icons cursor-pointer" (click)="fetchData()" style="color: #588A87">
            <ng-container *ngIf="isSearchModeEnabled(); else reload">backspace</ng-container>
            <ng-template #reload>refresh</ng-template>
          </span>
          </p>
        </div>
      </div>
      <div class="row">
        <form (submit)="searchForString()">
          <input class="form-control form" placeholder="Suche..." [(ngModel)]="searchValue" name="searchValue" />
        </form>
      </div>
    </div>
    <div class="row" >
      <table class="table table-hover" style="table-layout: fixed;">
        <thead>
        <th class="d-block">Mitarbeiter</th>
        </thead>
        <tbody>
        <ng-container *ngFor="let e of employees$ | async">
          <tr
            [class.table-active]="isEmployeeContainedInSelection(e)"
            (click)="selectEmployee(e)"
            (dblclick)="goToEmployee(e.id)"
            style="background-color: #F2F2F2"
          >
            <td class="user-select-none employee-btn" style="background-color: #F2F2F2">{{ e.firstName }} {{ e.lastName }}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
    <div *ngIf="isAnythingSelected()" class="cursor-pointer expand">
      <app-confirmable-delete
        [alignButtonRight]="'true'"
        (deleteEmit)="deleteEmployeeSelection()"
        [message]="getDeleteConfirmationMessage()"
      ></app-confirmable-delete>
    </div>
    <div *ngIf="(employees$ | async)?.length === 0">
      <p>Es wurden keine Mitarbeiter*innen gefunden.</p>
    </div>
  </div>

  <div class="text-center" style="margin: 25px;">
    <button class="btn add-btn" [routerLink]="['/employee/editor']">
      <span class="material-icons cursor-pointer">add</span>
    </button>
  </div>
</div>

