<div class="container" style="width: 500px; background-color: #B6C5BE">
  <ng-container *ngIf="found; else qualificationNotFound">
    <app-status-bar></app-status-bar>
    <ng-container *ngIf="showSaveSuccess">
      <div class="alert alert-success justify-content-end" role="alert">Speichern erfolgreich!</div>
    </ng-container>
    <div class="text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="#588A87" class="bi bi-list-columns-reverse" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 .5m4 0a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10A.5.5 0 0 1 4 .5m-4 2A.5.5 0 0 1 .5 2h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 4h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 6h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 8h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5m-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
      </svg>
    </div>
    <div id="qualification-details">
      <p class="h1 text-center"><b>{{ this.qualification?.skill }}</b></p>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
            <th hidden>ID</th>
            <th><p class="h4" style="color: #588A87;background-color: #D3DCD7;"><b>Mitarbeiter mit Qualifikation:</b></p></th>
            <th hidden>Nachname</th>
            </thead>
            <tbody>
            <ng-container *ngFor="let e of qualificationEmployees?.employees">
              <tr class="tr-hover" [routerLink]="['/employee/', e.id]">
                <td hidden>{{ e.id }}</td>
                <td>{{ e.firstName }} {{ e.lastName }}</td>
                <!--<td hidden>{{ e.lastName }}</td>-->
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center" style="margin-top: 25px;">
      <button class="delete-btn">
        <app-confirmable-delete
          (deleteEmit)="deleteQualification()"
          [message]="'Soll die Qualifikation wirklich gelöscht werden?'"
          [failed]="failed"
          [failedMessage]="failedMessage"
          (resetErrorEmit)="resetDeletionError()"
        ></app-confirmable-delete>
      </button>
    </div>
  </ng-container>
  <ng-template #qualificationNotFound>
    <app-not-found [message]="'Die Qualifikation ' + skill + ' konnte nicht gefunden werden.'"></app-not-found>
  </ng-template>
</div>
