<div class="container-fluid">
  @if (found) {
    <app-status-bar [title]="'Details Mitarbeiter ' + id" [editable]="true" [editRoute]="'/employee/editor/' + id"></app-status-bar>
     @if (showSaveSuccess){
       <div class="alert alert-success justify-content-end" role="alert">Speichern erfolgreich!</div>
     }

    <div class="row">
      <div class="col">
        Vorname:
      </div>
      <div class="col">
        {{ this.employee?.firstName }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        Nachname:
      </div>
      <div class="col">
        {{ this.employee?.lastName }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        Straße:
      </div>
      <div class="col">
        {{ this.employee?.street }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        Postleitzahl:
      </div>
      <div class="col">
        {{ this.employee?.postcode }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        Stadt:
      </div>
      <div class="col">
        {{ this.employee?.city }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        Telefonnummer:
      </div>
      <div class="col">
        {{ this.employee?.phone }}
      </div>
    </div>

    <div class="row margin-y-10">
      <h5>Qualifikationen</h5>
      <div class="col">
        <table class="table table-hover">
          <thead>
          <th>Name</th>
          </thead>
          <tbody>
          @for (qualification of employee?.skillSet; track qualification){
            <tr class="tr-hover" [routerLink]="['/qualification/', qualification.id]">
              <td>{{ qualification.skill }}</td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
    <app-confirmable-delete
      [message]="'Sollen die Mitarbeiter:innen wirklich gelöscht werden?'"
      (deleteEmit)="deleteEmployee(this.employee?.id)"
    ></app-confirmable-delete>
  }
  @else {
    <app-not-found [message]="'Der Mitarbeiter mit der ID ' + id + ' konnte nicht gefunden werden.'"></app-not-found>
  }
</div>
