#new-employee {
  margin-top: 20px;
  border-style: none;
  border-radius: 40px;
  padding: 30px;
  padding-bottom: 10px;
  background-color: #D3DCD7;
  color: #588A87;
  margin: 0 auto;
  margin-bottom: 60px;
}

.form-control {
  border-radius: 20px;
}
